<nav>
    <a title="Dashboard" href="{{ path('app_dashboard') }}">📊</a>
    <a title="Transactions" href="{{ path('app_transaction_index') }}">📒</a>
    <a title="Settings" href="{{ path('app_settings') }}">⚙️</a>
</nav>