body {
    font-family: sans-serif;
}

.app {
    max-width: 480px;
    margin: 0 auto;
    padding: 20px;
}

.menu {
    margin-top: 50px;
    border-radius: 4px;
    border: 1px solid gray;
    display: flex;
    column-gap: 10px;
    padding: 5px;
}

.transaction {
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}